.col-lg-8
  %h1 Tutors

  %table{id: 'tutors'}
    %thead
      %tr
        %th Name
        %th Tutoring Types
        %th Subjects
        %th School

    %tbody
      - @tutors.each do |tutor|
        %tr
          %td= link_to tutor.name, tutor_url(tutor.id)
          %td= tutor.tutoring_types
          %td= subjects_list(tutor)
          %td= tutor.school

.col-lg-4.text-center.group-tutoring
  =image_tag 'group_tutoring.jpg'
